.error {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 3em;
    text-align: center;
    padding-bottom: 15vh;
    animation: myAnim 1s ease 0s 1 normal none;
}

.error img {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    animation: myAnim 1s ease 0s 1 normal none;
}


@media (max-width:780px) {
    .error img {
        display: none;
    }
}