* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
 }

#check {
    display: none;
}


.icons {
    position: absolute;
    right: 0;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

@media (max-width:1298px) {
    .header {
        padding: 1.3rem 5%;
    }
}





.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ff3535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0  8%;
    box-shadow: 0 0px 10px black;
    z-index: 100;
    }



.header::before {
    position: absolute;
    width: 100%;
    height: 100%;
}


    .header>a>img {
        width: 230px;
        transition: 0.2s;
    }

    .header>a>img:hover {
        transform: scale(1.2);
    }

    .navbar>a {
        color: white;
        text-decoration: none;
         font-size: 28px;
         position: relative;
         padding: 15px;
         display: inline-block;
         font-family: "Oswald", sans-serif;
         
         
    }

    .navbar>a:hover {
        transition: 0.2s;
        background-color: #e80000;
    }




    @media (max-width:1036px) {
        .icons {
            display: inline-flex;
        }
    
        .icons #close-icon {
            display: none;
        }

#check:checked~.icons #menu-icon {
    display: none;
}

#check:checked~.icons #close-icon {
    display: block;
}

        .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0;
            background: #ff3535;
            overflow: hidden;
            transition: 0.3s ease;
            
        }
        
        #check:checked~.navbar {
            height: 17.5rem;
        }


        .navbar a {
            display: block;
            font-size: 1.1em;
            text-align: center;
            transition: 0.2s ease;
        }
    

        .header {
            justify-content: center;
            padding-bottom: 5px;
            transition: 0.2s ease;
        }

        .header>a>img {
            text-align: center;
            transition: 0.2s ease;
        }
    }







.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url(images/background.png);
    background-size: cover;
    background-position: right;
    animation: myAnim 1s ease 0s 1 normal none;
    
}





.home-content {
    max-width: 800px;
    
}

.home-content>h1 {
    font-size: 66px;
    font-weight: 700;
}

.home-content>h3 {
    font-size: 32px;
}

.home-content>p {
    font-size: 1.5em;
}


@media (max-width:1566px) {
    .home-content {
        max-width: 600px;
    }
}

@media (max-width:1369px) {
    .home-content {
        max-width: 400px;
    }
}




@media (max-width:1036px) {


    .navbar>a {
        display: block;
        text-align: center;
    }

}



@media (max-width:1119px) {

    .home {
        background: url(images/back3.png);
        background-position: right;
        background-size: cover;
    }

    @media (max-width:907px) {

        .home-content {
        max-width: 300px;
        }

        .home {
            background: url(images/back4.png);
            background-position: right;
            background-size: cover;
            align-items: center;
        }

        .home-content>h3 {
            font-size: 26px;
        }
        
        .home-content>p {
            font-size: 1.3em;
        }

        @media (max-width:691px) {

            .home-content {
            max-width: 300px;
            }
    
            .home {
                background: url(images/back4.png);
                background-position: right;
                background-size: cover;
                align-items: start;
                padding-top: 60px;
            }
    
            .home-content>h3 {
                font-size: 26px;
            }
            
            .home-content>p {
                font-size: 1.3em;
            }

            @media (max-width:691px) {


                .home-content>h1 {
                    font-size: 56px;
                }

                .home-content>h3 {
                    font-size: 16px;
                }
                
                .home-content>p {
                    font-size: 1em;
                }


                @media (max-width:575px) {

                    .home-content {
                    max-width: 225px;
                    }
            
                    .home {
                        background: url(images/back4.png);
                        background-position: right;
                        background-size: cover;
                        align-items: start;
                        padding-top: 60px;
                    }
            
                    .home-content>h3 {
                        font-size: 26px;
                    }
                    
                    .home-content>p {
                        font-size: 1.3em;
                    }
        
                    @media (max-width:691px) {
        
        
                        .home-content>h1 {
                            font-size: 46px;
                        }
        
                        .home-content>h3 {
                            font-size: 16px;
                        }
                        
                        .home-content>p {
                            font-size: 1em;
                        }

    @media (max-width:474px) {

        .home-content {
        max-width: none;
        max-height: 300px;
        }

        .home {
            background: url(images/back2.png);
            background-position: bottom;
            background-size: cover;
            align-items: start;
            padding-top: 60px;
        }

            .home-content>h1 {
                font-size: 66px;
            }

            .home-content>h3 {
                font-size: 32px;
            }
            
            .home-content>p {
                font-size: 1.25em;
            }
        }
}






